.outer-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrapper {
  width: 100%;
  padding: 2rem;
  color: #fff;
  text-align: center;
  background: #333;
}
